/*  your css code here. If applicable */
#box {
	background-color: red;
	width:100px;
	height:100px;
	animation-name: pulse-animation;
	animation-duration:  10s;
	transition-duration: 5s;
	animation-delay:  1s;
	animation-iteration-count: infinite;
	transition-timing-function: ease-in-out;
	
}
@keyframes pulse-animation {
	100% {
	transform: scale(4,4);
}
}
